body {
    margin: 0%;
}
#upperheader{
    height: 40px;
    background-color: rgb(70, 67, 67);
    text-align: left;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#upperheader a:link{
    /* margin-left: 40px; */
    text-decoration:none;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    line-height: 60px;
    align-items: center;

}
#rightbar a:link{
  /* margin-left: 40px; */
  text-decoration:none;
  color: rgb(212, 132, 11);
  vertical-align: middle;
  line-height: 60px;
  align-items: center;

}
.contact img{
    vertical-align: middle;
    float: center;
    padding: 3px;

}
.socialmedia img{
    padding: 2px;
    flex-wrap: nowrap;
    vertical-align: middle;
}

#navbar {
    margin: 0 auto;
    background-color: rgb(236, 230, 236);
    width: 100%; 
    flex-wrap: wrap;
    justify-content: space-between;
}

#menu {
    display: table; 
    padding: 0 10px 0; 
    margin: 0 auto; 
    overflow: hidden; 
    font-size: 14px; 
}
#menu li {
    list-style-type: none; 
    margin: 0 auto; 
    float: left; 
}
#menu li:hover {
    background: #404040;
}
#menu li a {
    display: block; 
    color: rgb(107, 102, 102); 
    text-decoration: none; 
    font-weight: bold;
    padding: 7px 10px 7px;
}
#menu li a:hover {
    background: #404040; 
    color: white;
    font-weight: bold;
}
#menu li li a {
    width: 160px;
}
#menu li ul {
    overflow: hidden; 
    display: none; 
    background: #242424;
}
#menu li:hover ul {
    position: absolute; 
    padding: 0; 
    display: block; 
    width: 160px;
}

#logo{
    background-color: aliceblue;
/* margin: 0 auto; */
width: 30%;
float: left;
height: 80px;
}
#logo img{
    vertical-align: middle;
    padding: 20px;
}
#rightbar{
    float: right;
    background-color: aliceblue;
    width: 70%;
    height: 80px; 
}

   
#slide {
  display: block;
  width: 100%;
  height: 800px;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  flex-wrap: wrap;
  
}

slider > * {
  position: absolute;
  /* display: block; */
  width: 100%;
  height: 100%;
  left: 100%;
  background-color: #1f1f1f;
  -webkit-animation: slide 12s infinite;
  -moz-animation: slide 12s infinite;
  -o-animation: slide 12s infinite;
  animation: slide 12s infinite;
  overflow: hidden;
}

slide:nth-child(1) {
  left: 0%;
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
  -o-animation-delay: -1s;
  animation-delay: -1s;
   background-image: url(../img/header1.jpg);
  background-size: cover;
  background-position: bottom;
}



slide:nth-child(2) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
  background-image: url(../img/header2.jpg);
  background-size: cover;
  background-position: bottom;
}

slide:nth-child(3) {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
  background-image: url(../img/header3.jpg);
  background-size: cover;
  background-position: bottom;
}

slide:nth-child(4) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -o-animation-delay: 8s;
  animation-delay: 8s;
  background-image: url(../img/header4.jpg);
  background-size: cover;
  background-position: bottom;
}


slide p {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 20vh;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 30vh;
  color: white;
  text-shadow: 0px 0px 500px black;
}




@-webkit-keyframes slide {
  0% {left: 100%; width: 100%} 
  5% {left: 0%;} /* IN */
  25% {left: 0%;} /*SHOW*/
  30% {left: -100%; width: 100%;} /*OUT*/
  30.00001% {left: -100%; width: 0%}
  100% {left: 100%;width: 0%;} /*SLEEP*/
}

@-moz-keyframes slide {
  0% {left: 100%; width: 100%} 
  5% {left: 0%;} /* IN */
  25% {left: 0%;} /*SHOW*/
  30% {left: -100%; width: 100%;} /*OUT*/
  30.00001% {left: -100%; width: 0%}
  100% {left: 100%;width: 0%;} /*SLEEP*/
}

@-o-keyframes slide {
  0% {left: 100%; width: 100%} 
  5% {left: 0%;} /* IN */
  25% {left: 0%;} /*SHOW*/
  30% {left: -100%; width: 100%;} /*OUT*/
  30.00001% {left: -100%; width: 0%}
  100% {left: 100%;width: 0%;} /*SLEEP*/
}

@keyframes slide {
  0% {left: 100%; width: 100%} 
  5% {left: 0%;} /* IN */
  25% {left: 0%;} /*SHOW*/
  30% {left: -100%; width: 100%;} /*OUT*/
  30.00001% {left: -100%; width: 0%}
  100% {left: 100%;width: 0%;} /*SLEEP*/
}

  #services {
    Width: 100%;
    background-color: aliceblue;
    height: 1800px;
    position: relative;

  }
  h1{
    font-size: 41px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 90px;
  }
  h1::before { 
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    width: 65px;
    height: 2px;
    margin-top: 75px;
    background: #f9b707;
    transform: translate(-50%,0);
  }
  .robimy1{
    background-color: aliceblue;
    height: 450px;
    margin: 0 30px 0 30px;
    position: relative;
  }

  .lpicture{
    background-image: url(../img/airport.jpg);
    background-size: 120%;
    float: left;
    flex-wrap: nowrap; 
    height: 95%;
    width: 40%;
    margin: 10px 10px 10px 10px;
  }
  .lpicture2{
    background-image: url(../img/most.jpg);
    background-size: 102%;
    float: left;
    flex-wrap: nowrap; 
    height: 95%;
    width: 40%;
    margin: 10px 10px 10px 10px;
  }
  q1{
    font-size: 22px;
    text-align: right;
    color: antiquewhite;
  }
  q2{
    font-size: 22px;
    text-align: right;
    color: antiquewhite;
  }
  .textr1{
    /* background-color: purple; */
    float: right;
    flex-wrap: wrap; 
    height: 95%;
    width: 55%;
    position: relative;
    margin: 10px 10px 10px 10px;
    text-align: center;
  }
.textr1::before { 
    content: '';
    position: absolute;
    top: 0px;
    margin-left: -2.5%;
    width: 2px;
    height: 165px;
    margin-top: 130px;
    background: #f9b707;
    transform: translate(-50%,0);
}
.ppicture::before { 
  content: '';
  position: absolute;
  top: 0px;
  margin-left: -2.5%;
  width: 2px;
  height: 165px;
  margin-top: 130px;
  background: #f9b707;
  transform: translate(-50%,0);
}

.robimy2{
    background-color:#d8dfe5;
    height: 450px;
    margin: 0 0px 0 0px;
    position: relative;
}
.ppicture{
      background-image: url(../img/wiezowiec.jpg);
      background-size: 100%;
      float: right;
      flex-wrap: nowrap; 
      height: 95%;
      width: 40%;
      margin: 10px 40px 10px 10px;
}
.ppicture2{
  background-image: url(../img/road.jpg);
  float: right;
  flex-wrap: nowrap; 
  background-size: 102%;
  height: 95%;
  width: 38%;
  margin: 10px 40px 10px 10px;
}
.textr2{
      /* background-color: purple; */
      float: left;
      flex-wrap: wrap; 
      height: 95%;
      width: 51%;
      margin: 10px 40px 10px 40px;
      text-align: center;
      position: relative;
}
q2::before { 
  content: '';
  position: absolute;
  top: 0px;
  right: 42.5%;
  width: 2px;
  height: 165px;
  margin-top: 130px;
  background: #f9b707;
  transform: translate(-50%,0);
}
.robimy4{
  background-color:#d8dfe5ff;
  height: 450px;
  margin: 0 0px 0 0px;
  position: relative;
}
#history{
  width: 100%;
  height: 450px;
  background-color: aliceblue;
  position: relative;
}
.info{
  width: 40%;
  height: 95%;
  margin: 10px 10px 10px 30px;
  background-color: aliceblue;
  position: relative;
  flex-wrap: wrap;
  float: left;
}
h2{
  font-size: 25px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  color: #646464;

}
h3{
  font-size: 18px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  color: #5e5b5b;

}
.infopic{
  width: 40%;
  height: 95%;
  margin: 10px 30px 10px 30px;
  background-image: url(../img/boss.jpg);
  position: relative;
  background-size: cover;
  flex-wrap: wrap;
  float: right;
}
.przycisk{
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  background: #f9b707;
  color: #fff;
  margin: auto;
  border-radius: 20px;
  width: 150px;
  line-height: 60px;
  justify-content: center;  
}
#recentwork{
  width: 100%;
  height: 800px;
  background-color: #d8dfe5;

}
.prace{
  background-color: #d8dfe5;
  height: 780px;
  margin: 10px 30px 0 30px;
  position: absolute;
  flex-wrap: wrap;
  width: 96.5%;
}

.praca1{
  width: 30%;
  height: 595px;
  background-color: #d8dfe5;
  color: black;
  position: relative;
  flex-wrap: wrap;
  float: left;
  margin: 10px 1% 10px 1%;
  text-align: center;
}
.praca1 img{
  width: 80%;
  height: 40%;
  margin: 10px 10px 10px 10px;
}
.praca2{
  width: 30%;
  height: 595px;
  background-color: #d8dfe5;
  color: black;
  position: relative;
  flex-wrap: wrap;
  float: left;
  margin: 10px 1% 10px 3%;
  text-align: center;
}
.praca2 img{
  width: 80%;
  height: 40%;
  margin: 10px 10px 10px 10px;

}
.prace p{
  text-align: center;
  font-size: 40px;

}
.praca3{
  width: 30%;
  height: 595px;
  background-color: #d8dfe5;
  color: black;
  position: relative;
  flex-wrap: wrap;
  float: right;
  margin: 10px 1% 10px 1%;
  text-align: center;
}
.praca3 img{
  width: 80%;
  height: 40%;
  margin: 10px 10px 10px 10px;
}
  #contactform{
    width: 100%;
    height: 600px;
    background-color: aliceblue;
    position: absolute;
  }

.contactinfo h1{
    font-size: 41px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

.contactinfo h1::before { 
  content: '';
  position: absolute;
  top: 0px;
  left: 50%;
  width: 65px;
  height: 2px;
  margin-top: 15px;
  background: #f9b707;
  transform: translate(-50%,0); 
}
  .contactinfo{
    height: 95%;
    background-color: aliceblue;
    position: relative;
    margin: 0px 0 0 45px;
    width: 50%;
    display: inline-block;
    float: left;
    text-align: center;
  }
  .contactinfo p{
    margin-bottom: 40px;
  }
  .contactinfo a{
    text-decoration: none;
    color: black;
  }
  label{
    width: 200px;
    display: inline-block;
    font-size: 25px;
    line-height: 20px;
  }
  .mapa{
    height: 95%;
    position: relative;
    margin: 10px 45px 0 10px;
    width: 40%;
    float: right;
  }
  select{
    height: 30px;
    width: 300px;
    font-size: 20px;
    display: inline-block;
  }
  input{
    height: 30px;
    width: 300px;
    font-size: 20px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .mapa::before { 
    content: '';
    position: absolute;
    top: 0px;
    left: -5%;
    width: 2px;
    height: 165px;
    margin-top: 30%;
    background: #f9b707;
  }

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:500px;
  width:570px;
}